{% extends 'partials/base.html.twig' %}

{% block splash %}
  <div class="pure-g splash-container">
    <div class="pure-u-1 splash">
        <img class="strip" src="{{ url('theme://images/strip.svg') }}" alt="Лента флаг Крыма">
        <img class="made_in_crimea" src="{{ url('theme://images/made_in_crimea.png') }}" alt="Сделано в Крыму">
        <div class="logo_wrapper">
            <div class="logo_container">
            </div>
        </div>
        <img class="age_players" src="{{ url('theme://images/age-players.svg') }}" alt="Возраст: от 8 лет, количество игроков: 2-6">
        <p class="splash_button">
            <a href="#form-section" class="pure-button pure-button-primary order-button">Заказать</a>
        </p>
    </div>
  </div>
{% endblock %}

{% block content %}
    {{ page.content }}
    {% for module in page.collection() %}
        {{ module.content }}
    {% endfor %}
{% endblock %}
