{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Landing page for the Monopoly Crimea game ">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/normalize.css', 100) %}
        {% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/pure-min.css', 100) %}
        {% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css', 100) %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', 99) %}
        {% do assets.addCss('https://fonts.googleapis.com/css?family=Arsenal:400,700&amp;subset=cyrillic', 99) %}
        {% do assets.addCss('theme://css/marketing.css', 98) %}
        {% do assets.addCss('theme://css/custom.css', 98) %}

    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
    <div class="header">
        <div class="wrapper padding">
            <a class="logo left" href="{{ base_url == '' ? '/' : base_url }}">
                <img width=75 src="user/themes/landing/images/small_logo.png" alt="Лого"></img>
                {{ config.site.title }}
            </a>

            <div class="contacts right">
                <div class="phone left">

                    <a href="tel:+7(978)058-31-22"><i class="fa fa-phone-square" aria-hidden="true"></i> +7(978)058-31-22</a>
                </div>
                <div class="social right">
                    <a href="https://vk.com/monopoly.crimea">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                    </a>
                    <a href="https://instagram.com">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block splash %}
{% endblock %}


{% block body %}
    <div class="content-wrapper">
      {% block content %}{% endblock %}
    </div>
{% endblock %}


{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}
<script src="user/themes/landing/js/jquery.malihu.PageScroll2id.min.js"></script>
<script src="user/themes/landing/js/common.js"></script>

</body>
</html>
