{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Landing page for the Monopoly Crimea game ">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/pure-min.css', 100) %}
        {% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css', 100) %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', 99) %}
        {% do assets.addCss('https://fonts.googleapis.com/css?family=Arsenal:400,700&amp;subset=cyrillic', 99) %}
        {% do assets.addCss('theme://css/marketing.css', 98) %}
        {% do assets.addCss('theme://css/custom.css', 98) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
    <div class="header">
        <div class="wrapper padding">
            <a class="logo left" href="{{ base_url == '' ? '/' : base_url }}">
                <img width=75 src="user/themes/landing/images/small_logo.png"></img>
                {{ config.site.title }}
            </a>
            <!-- {% block header_navigation %}
            <nav class="main-nav">

                {% include 'partials/navigation.html.twig' %}
            </nav>
            {% endblock %} -->

            <div class="contacts right">
                <div class="phone left">
                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                    <a href="tel:+7(978)058-31-22">+7(978)058-31-22</a>
                </div>
                <div class="social right">
                    <a href="https://vk.com/monopoly.crimea">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                    </a>
                    <a href="https://instagram.com">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

<div class="pure-g splash-container">
    <div class="pure-u-1 splash">
        <!-- <h1 class="splash-head">Big Bold Text</h1>
        <p class="splash-subhead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <p>
            <a href="http://purecss.io" class="pure-button pure-button-primary">Get Started</a>
        </p> -->
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Представляем Вам нашу версию давно известной многим классической игры «Монополия».</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Get Started Quickly
                </h3>
                <p>
                    «Монополия Крым» позволит Вам познакомиться с основными городами — жемчужинами Крыма и стать их владельцем!
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    Responsive Layouts
                </h3>
                <p>
                    Отправляйтесь в увлекательное путешествие по полуострову, познакомьтесь с неповторимым и разнообразным по культуре и традициям Крымом!
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Modular
                </h3>
                <p>
                    Здесь и памятники военных событий, и разнообразная архитектура, и красивые пейзажи, и, конечно же, море и горы!
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Plays Nice
                </h3>
                <p>
                    Всё это у вас дома! Получайте море впечатлений и эмоций, зарабатывайте миллионы, становитесь настоящим «Крымским Монополистом»! А также любуйтесь самыми красивыми местами, несущими за собой целую историю!
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img width="300" alt="File Icons" class="pure-img-responsive" src="user/themes/landing/images/game-shadow.png">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Laboris nisi ut aliquip.</h2>

            <p>
                Красочное оформление и индивидуальный дизайн нашей игры — это лишь капля в море, по сравнению с теми эмоциями, которые Вы испытаете за игрой!
            </p>
        </div>
    </div>

    <div class="content">

        <div class="pure-g">

            <div class="l-box-lrg pure-u-1">
                <h4>Contact Us</h4>
                <p>
                    «Монополия Крым» поможет разнообразить Вам и Вашей компании свой досуг и принесет изюминку в обычные посиделки! Станет отличным и оригинальным подарком из Крыма для Ваших близких!
                </p>
            </div>
            <div class="l-box pure-u-1">
                <h2 class="content-head is-center">Спешите стать её владельцем.</h2>
                <h4 class="call-form is-center">Оформите заявку, заполнив форму:</h4>
            </div>
            <div class="l-box-lrg pure-u-1 form-container">
                <form class="pure-form pure-form-aligned" action="email.php">
                    <fieldset>

                        <label for="name">Ваше имя</label>
                        <input id="name" type="text" placeholder="Ваше имя">


                        <label for="email">Ваш телефон</label>
                        <input id="email" type="number" placeholder="Ваш телефон">

                        <button type="submit" class="pure-button">Заказать</button>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
<!--
{% block body %}
    <section id="body">
        <div class="wrapper padding">
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %} -->

{% block footer %}
    <div class="footer text-center">
        <div class="wrapper padding">
            <div class="contacts">
                <div class="phone">
                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                    <a href="tel:+7(978)058-31-22">+7(978)058-31-22</a>
                </div>
                <div class="social">
                    <a href="https://vk.com/monopoly.crimea">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                    </a>
                    <a href="https://instagram.com">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <p>Монополия Крым <i class="fa fa-copyright"></i> 2017.</p>
        </div>
    </div>

{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
