{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Настольная игра Монополия Крым">
    <meta name="keywords" content="Настольная игра, Монополия Крым">

    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/normalize.css', 100) %}
        {% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/pure-min.css', 100) %}
        {% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css', 100) %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', 99) %}
        {% do assets.addCss('https://fonts.googleapis.com/css?family=Arsenal:400,700&amp;subset=cyrillic', 99) %}
        {% do assets.addCss('theme://css/style.css', 98) %}

    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
    <div class="header">
        <div class="wrapper padding">
            <a class="head_logo" href="{{ base_url == '' ? '/' : base_url }}">
                <img width=50 src="{{ url('theme://images/logo.svg') }}" alt="Лого">
                <p class="header_title">{{ config.site.title }}</p>
            </a>

            <div class="contacts right">
                <div class="phone left">

                    <a href="tel:{{ site.author.phone }}"><i class="fa fa-phone-square" aria-hidden="true"></i> {{ site.author.phone }}</a>
                </div>
                <div class="social right">
                    <a href="{{ site.social.vk }}">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                    </a>
                    <a href="{{ site.social.ig }}">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block splash %}
{% endblock %}


{% block body %}
    <div class="content-wrapper">
      {% block content %}{% endblock %}
    </div>
{% endblock %}


{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}
<script src="{{ url('theme://js/jquery.malihu.PageScroll2id.min.js') }}"></script>
<script src="{{ url('theme://js/common.js') }}"></script>

</body>
</html>
